.filler {
    height: inherit;
}

.btn-banger {
    border: 1px solid #333 !important;
    background-color: #fff !important;
}

.btn-account {
    border: 1px solid #333 !important;
    background-color: #414040a4 !important;
}

.dropdown-content{
   width: max-content !important;
   height:auto !important;
}

.truncator {
    -webkit-line-clamp: 4;
}

.trend-object {
    margin-top: 1rem;
    position: relative;
    animation: marquee 26s linear infinite;
    font-weight: bold;
    font-size: larger;
}

.trend-object:hover {
    animation-play-state: paused;
}

@keyframes marquee {
  0%   { left: 100%; }
  100% { left: -205%; }
}

.sidenav-overlay {
    z-index: 900 !important;
}

nav a.sidenav-trigger {
    height: auto!important;
    margin: 0!important;
}

nav ul a:hover {
    background-color: initial !important;
}