<!DOCTYPE html>
{%  load static %}
{% block javascript %}


<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>mini blog</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{% static "css/style.css" %}" >
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans|Montserrat&display=swap" rel="stylesheet">
    </head>
    <body>
            <script type="text/javascript">
                document.addEventListener('DOMContentLoaded', function() {
                    var elems = document.querySelectorAll('.dropdown-trigger');
                    var options = {
                        'closeOnClick': true,
                        'hover':true
                    }
                    var instances = M.Dropdown.init(elems, options);

                });
            </script>

            <div class="navbar-fixed">
                <nav class="fixed white" style="font-family: 'Fira Sans'">
                    <div class="container nav-wrapper">
                        <a href="/" class="waves-effect waves-yellow" style="font-size: 2.1rem; color: #333" >Social Mapper</a>
                            <ul id="nav-mobile" class="right">
                                <li>
                                    <a href="{% url 'scrape' %}" style="color: #333;box-shadow: none;" class="btn btn-banger waves-effect waves-yellow white">
                                        Get news
                                    </a>
                                 </li>
                                {% if user.is_authenticated %}

                                      <a style="color: #333" class='dropdown-trigger btn btn-banger waves-effect waves-yellow white' href="#" data-target='dropdown1'>
                                        {{ user.email }}
                                      </a>
                                      <ul id='dropdown1' class='dropdown-content container'>
                                        <li><a style="color: #333" href="{% url 'account_change_password' %}">Change password</a></li>
                                        <li class="divider" tabindex="-1"></li>
                                        <li><a style="color: #333" href="{% url 'account_logout' %}">Log out</a></li>
                                      </ul>

                                {% else %}

                                <a href="{% url 'account_login' %}" style="color: #333; background-color: #cfd8dc; box-shadow: none; border: 1px solid #333333" class="btn waves-effect waves-yellow ">Log in</a>
                                <a href="{% url 'account_signup' %}" style="color: #333; background-color: #cfd8dc; box-shadow: none; border: 1px solid #333333" class="btn waves-effect waves-yellow ">Sign up</a>

                                {% endif %}
                            </ul>

                    </div>
                </nav>
            </div>




        <div class="row">
            {%  block content %}

            {% endblock content %}
        </div>

            {% endblock javascript %}

    </body>
</html>